#MyPicture {
    padding: 40px;
    float: right;
    width: 300px;
    animation-name: animation;
    animation-duration: 5s;
}

.Nasirworld {
    background: rgb(144, 227, 238);
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 600px;
    font: 40px;
}

body {
    background: rgb(144, 227, 238);
    font-family: 'Roboto', sans-serif;
}

@keyframes animation {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1.5);
        opacity: 1;
    }
}